/* You can add global styles to this file, and also import other style files */
.artist-header{
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #333;
}

.artist-thumb{
  width: 80px;
  height: auto;
  float: left;
  margin-right: 10px;
}

.artist-albums .well{
  margin-bottom: 20px;
  overflow: auto;
  min-height: 400px;
}

.album{
  text-align: center;
  background: #333;
  padding: 10px 20px;
  border: 1px solid #666;
}

.album-thumb{
  width: 100%;
}

.test{
  background-image: url('./assets/peel_335x335.png');
  height: 335px;
  width: 335px;
  background-color: #FFF;
}

pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }
